@{
    ViewBag.Title = "Ideas going forward";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>

            <h3>Got some more ideas?:</h3>

            <ul>
                <li>
                   Expand the tags to all different kinds of areas - other than development.
                </li>
                <li>
                    Integration with twitter API, so that you can see the people your interested in and see their stream of tweets.
                </li>
                <li>
                    Include a jabber room and perhaps discuss the ideas even on there.
                </li>
                <li>
                    Have voting on content shown so that the most popular content is shown first.
                </li>
                <li>
                    Loads more to come, this thing is just starting out.
                </li>
            </ul>
        </div>
    </section>
}