@{
    ViewBag.Title = "Contact Details";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">

            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>

            <header>
                <h3>Twitter</h3>
            </header>
            <p>
                <span class="label">Twitter:</span>
                <span><a href="http://twitter.com/gsuttie" target="_blank">@@gsuttie</a></span>
            </p>


            <header>
                <h3>Email</h3>
            </header>

            <p>
                <span class="label">Questions:</span>
                <span><a href="mailto:gsuttie2001@hotmail.com">gsuttie2001@hotmail.com</a></span>
            </p>
        </div>
    </section>
}
