@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Welcome to <b>C@nnector</b>, a website for finding hopefully good information on development related content.
            </p>
            <p>
                The site will start of with mainly Asp.Net but will hopefully expand into other areas quickly. 
                The goal is to expand to cover more than development, but this first stage will mostly be covering Asp.Net 
                content.
            </p>
            <p>
                The idea is that you first of all select a topic your interested in and then choose the medium to which
                youd like to get more info on and then take it from there. To start off with I am going to show people on twitter
                who are good source of information and who are worth following on twitter.
            </p>
        </div>
    </section>
}
<h3>Are you ready to learn more?:</h3>
<ol class="round">
    <li class="one">
        <h5>Getting Started - Choose a topic</h5>
        To get started choose an ASP.Net area from the first column.
    <li class="two">
        <h5>Now choose a Medium</h5>
        At the moment to get started I will only be displaying twitter as an option in the secnid column but this wont be the case for 
        very long.
    <li class="three">
        <h5>Follow</h5>
        You can easily find people on twitter who have either insider knowledge on this topic, or maybe they work with the technology
        your interested in - try it and find out.
</ol>
